<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- js 는 body 부분의 실행을 늦추지 않기 위해 하단에서 호출 -->
<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>